<!DOCTYPE html>
<html lang = "ru">
	{% extends "admin/base.html" %}
	{% load static %}
	{% load render_bundle from webpack_loader %}
	{load i18n %}

<head>
	{% block head %}
		{{ block.super }}
		{% block title %}
			{{ title }}
		{% endblock title %}
	{% endblock head %}

	{% block extrahead %}
		{{ block.super }}
		<link href="{% static 'account/css/' %}{{account_styles}}" rel="stylesheet" />
		<script src="{% static 'account/javascripts/' %}{{account_js}}"></script>
	{% endblock extrahead %}
</head>
<body>

	{% block branding %}
		<h1 id="site-name">Good</h1>
	{% endblock branding %}

{% block nav-global %}
{% endblock %}

</body>
</html>