<!DOCTYPE html>
{% load bootstrap4 %}
{% load render_bundle from webpack_loader %}
{% load static %}


<html lang = "en">
<head>
  <meta charset = "UTF-8">
  <meta name="viewpost" content="width-device-width, initial-scale=1,
   shrink-to-fit-no">
  <title>{% block title %}Главная{% endblock title%}} - Account</title>
  {% bootstrap_css %}
  <link rel="stylesheet" type="text/css"
        href="{% static 'account/css/style.css' %}">
  {% bootstrap_javascript jquery='slim' %}
  {% block contribute %}{% endblock contribute %}
</head>
<body class="container_fluid">
<header>
  {% block header %}
    <h1 classe="display-1 text-center">It's your the Account </h1>
  {% endblock header %}
  {% block content %}
   <h2>O caйте</h2>
  {% endblock content %}
  {% block headerContribute %}{% endblock headerContribute %}
</header>
<main>

</main>
</body>
</html>