/*!**********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/style.css ***!
  \**********************************************************************************************************************************************/
#outhor label,
#outhor button,
#outhor label,
#outhor button{
  display: block;
}
.helptext{
  color: #ef9e9ee3;
}

#outhor button, 
outhor button{
  width: 161px;
  min-height: 29px;
  max-height: 29px;
}

